body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/bg.png");
  background-position: center;
}

.header {
  width: 590px;
  text-align: center;
}

.score-panel {
  background-color: rgba(185, 159, 183, 0.5);
  list-style-type: none;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 20px;
  align-content: center;
}
.scores {
  display: inline-block;
  padding-right: 15px;
  flex-wrap: wrap;
}

#progress {
  height: 24px;
  width: 30%;
  background-color: #674b8125;
  border-radius: 20px;
  padding: 0;
}

.progress_done {
  height: 24px;
  width: 0;
  background: linear-gradient(to left, #cce6ec, #f2709c);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.rating:after {
  content: "\2605";
  position: absolute;
}

.game-section {
  width: 580px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(160deg, #aa7ecd75 0%, #02ccbb54 100%);
}

.memory-card {
  width: 100px;
  height: 100px;
  display: inline-flex;
  background-color: skyblue;
  text-align: center;
  margin: 15px;
  position: relative;
}
.front-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: #3c384d;
  backface-visibility: hidden;
  border-radius: 5%;
}
.front-card:hover {
  background: linear-gradient(150deg, #3c384d 0%, #ffffff 450%);
}
.front-card.flip {
  /* effect in fliping the card*/
  transform: scale3d(1, 1, 1);
  display: none;
}
.front-card:active {
  transform: scale(1.02);
}
.back-card {
  background-color: rgb(248, 246, 245);
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

#reset {
  width: 20px;
  margin: 0;
}

.play-again {
  width: 180px;
  height: 90px;
  margin: 40px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  background-color: #d4becf;
  color: rgb(31, 5, 5);
  border: none;
}
.play-again:hover {
  background-color: rgba(192, 183, 192, 0.925);
}
.play-again:active {
}
.overlay {
  left: 20%;
  right: 20%;
  top: 25%;
  display: none;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #240342f3;
  margin: 40px;
}
.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(143, 138, 156, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(163, 162, 173, 0.8);
    font-size: 150px;
  }
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
    height: 100%;
  }

  .scores {
    padding-right: 35px;
  }
  .game-section {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }

  .header {
    width: 100%;
    margin: 0;
  }
  .memory-card {
    width: 65px;
    height: 65px;
  }

  .overlay {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 30%;
    margin: 0px;
    height: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .overlay.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
  }
  @keyframes overlay-grow {
    from {
      background-color: rgba(143, 138, 156, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(163, 162, 173, 0.8);
      font-size: 70px;
    }
  }
}
