body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/bg.png");
  background-position: center;
}
.header {
  text-align: center;
}
h1 {
}
.score-panel {
  background-color: rgba(185, 159, 183, 0.5);
  list-style-type: none;
  border-radius: 20px;
}
.scores {
  display: inline-block;
  align-content: center;
  padding: 10px;
}
.overlay {
  left: 20%;
  right: 20%;
  top: 25%;
  display: none;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #240342f3;
}
.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(143, 138, 156, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(163, 162, 173, 0.8);
    font-size: 150px;
  }
}

#progress {
  height: 24px;
  width: 30%;
  background-color: #674b8125;
  border-radius: 20px;
  margin: 5px;
  padding: 0;
}

.progress_done {
  height: 24px;
  width: 0;
  background: linear-gradient(to left, #cce6ec, #f2709c);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.header {
  width: 580px;
}
.game-section {
  width: 580px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(160deg, #aa7ecd75 0%, #02ccbb54 100%);
}

.memory-card {
  width: 100px;
  height: 100px;
  display: inline-flex;
  background-color: skyblue;
  text-align: center;
  margin: 15px;
  position: relative;
}
#reset {
  width: 20px;
  margin: 0;
}

#play-again {
  width: 120px;
  height: 90px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  background-color: #d4becf;
  color: rgb(31, 5, 5);
  border: none;
  display: none;
}
#play-again:hover {
  background-color: blanchedalmond;
}
#play-again:active {
}
.front-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: #3c384d;
  backface-visibility: hidden;
  border-radius: 5%;
}
.front-card:hover {
  background: linear-gradient(150deg, #3c384d 0%, #ffffff 450%);
}
.front-card.flip {
  /* effect in fliping the card*/
  transform: scale3d(1, 1, 1);
  display: none;
}
.front-card:active {
  transform: scale(1.02);
}
.back-card {
  background-color: rgb(248, 246, 245);
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}
c img.filter {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
    height: 100%;
  }
  .game-section {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    margin: 0;
  }
  .memory-card {
    width: 70px;
    height: 70px;
  }
}

.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}
