body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-panel {
  display: inline;
  width: 300px;
}
.overlay {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ff6d00;
}
.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

.progress {
  height: 24px;
  width: 100%;
  background-color: #d8d8d8;
  border-radius: 20px;
  margin: 10px;
}

.progress_done {
  height: 24px;
  width: 0;
  background: linear-gradient(to left, #f2709c, #ff9472);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.game-section {
  width: 500px;
  display: block;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.memory-card {
  width: 100px;
  height: 55px;
  display: inline-flex;
  background-color: skyblue;
  text-align: center;
  margin: 10px;
  position: relative;
}

#play-again {
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  background-color: #af814c;
  color: #fff;
  border: none;
  /*  display: none;*/
}
#play-again:hover {
  background-color: blanchedalmond;
}
#play-again:active {
  transform: translateY(4px);
}
.front-card {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: burlywood;
  position: absolute;

  backface-visibility: hidden;
}
.front-card:hover {
  background-color: cornsilk;
}
.front-card.flip {
  /* effect in fliping the card*/
  transform: scale3d(1, 1, 1);
  display: none;
}
.front-card:active {
  transform: translateY(4px);
}
.back-card {
  background-color: darksalmon;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}
img.filter {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media screen and (max-width: 600px) {
  .game-section {
    width: 100%;
  }
}
